.IccMensPage {
     background-color: #310076;

}

.mainimg-card {
     display: flex;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     flex-direction: row;
     margin: 0px;
     margin-right: 14%;
     margin-left: 14%;
}


.imageCard img {
    cursor: pointer;
     width: 230px;
}

.main-poster {
     display: flex;
     display: grid;
     grid-template-columns: 1fr;
     gap: 40px;
     cursor: pointer;
}

.poster1 img {
     display: flex;
     width: 61rem;
     justify-content: center;
     margin: auto;
     text-align: center;
     border-radius: 20px;
     margin-top: 35px;
     cursor: pointer;
}

.poster2 img {
     display: flex;
     width: 61rem;
     justify-content: center;
     margin: auto;
     text-align: center;
     cursor: pointer;
}

.heading {
     margin-left: 11.5%;
     /* margin-bottom: -40px; */
     color: #fff;
     margin-left: 212px;
}

.heading2 {
     margin-left: 14.5%;
     color: #fff;
     margin-top: 6vh;
     margin-bottom: 4vh;
     /* display: flex;
     font-weight: 700; */
}

.ott-logo img {
     width: 142vh;
     display: flex;
     justify-content: center;
     margin: auto;
     text-align: center;
     cursor: pointer;
}