.crimg ul {
     display: flex;
     justify-content: space-evenly;
   }
   .crimg {
     width: 100%;
     background-color: white;
     margin: auto;
   }
   li {
     margin: 40px;
   }

   .crp{
    display: flex;
    justify-content: center;
   }

   .crp div{
    margin: 30px;
   }